table {
    width: 50%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 6px;
    border-bottom: 1px solid #d5d5d5;
    width: 40%;
}


/* tr:nth-child(even) {
    background-color: #f2f2f2;
} */

.add-listing-box h3 {
    margin-bottom: 15px;
    width: 50%;
}

.underline {
    font-weight: bold;
}

.photo {
    display: flex;
    width: 100% !important;
}

.detail-photo{
    width: 60% !important;
    height: 400px!important;
}