<app-sidebar></app-sidebar>

<div class="main-content d-flex flex-column">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <div class="flex-grow-1"></div>
  <app-footer></app-footer>
</div>
<!-- <div class="wrapper">
  <app-loading-indicator></app-loading-indicator>
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div class="content-wrapper">
    <div class="main-container content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</div> -->