
<app-breadcrumb [title]="'DEPARTURES' | translate" [subTitle]="'DEPARTURE_LIST' | translate"></app-breadcrumb>
<div class="card recent-orders-box mb-30">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3>{{'DEPARTURE_LIST' | translate}}</h3>

        <div class="dropdown">
            <button routerLink="/departure/manage" class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class='bx bx-plus' ></i>
            </button>
            
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{'DEPARTURE' | translate}}</th>
                        <th>{{'MAIN' | translate}}</th>
                        <th>{{'STATUS' | translate}}</th>
                        <th></th>
                        
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of departures">
                        <td class="name">{{item.title}}</td>
                        <td >{{item.isMain ? 'Evet':'Hayır'}}</td>
                        <td><span class="badge {{item.isActive ? 'badge-primary': 'badge-danger'}} badge-primary">{{item.isActive ? 'Aktif':'pasif'}}</span></td>
                        <td>
                            <a class="btn btn-sm btn-warning ml-3" routerLink="/departure/manage/{{item.code}}">
                            <i class='bx bx-show'></i> {{'VIEW' | translate}}
                            </a>
                            <a class="btn btn-sm btn-danger ml-3" (click)="deleteDeparture(item)">
                                <i class='bx bx-trash'></i> {{'DELETE' | translate}}
                                </a>
                        </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>